@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans300.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans400.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans700.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(./fonts/Raleway.woff) format('woff');
}

#addressinfo
{
  float:left;
  min-width: 19%;
}

a#openmaps{
  border-bottom: 1px dotted #999999;
  display: block;
  font-style: normal;
  line-height: 20px;
  margin-bottom: 20px;
  color:#ffffff;
  text-decoration:underline;
  
}

a > hover#openmaps{

  text-decoration:underline;
}

@media (min-width: 980px) {
#alignImage{
  float:none;
  width: 940px;
}
}

@media (min-width: 768px) and (max-width: 980px) {
#alignImage{
  float:none;
  width: 728px;
}
}

@media(max-width: 980px)
{
  #rohlxbanner{
    margin-left:auto;
  margin-right:auto;
  width:180px;
  }
}


.banner
{
  /*color: #A43053; */
  color:#CCCCCC !important;
 text-decoration: none;
  font-size: 20px;
  display: inline;
  float: left;
  margin-top:20px;
}


html {
    width: 100%;
    height: 100%;
}

.text
{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #A79D99;
}

@media (min-width: 321px)  and  (max-width: 660px){
#map-canvas 
{
    margin: 0 40px 40px 0px;
    padding: 45%;
    height: 100%;
    width: 12%;
    float: left;
}
}

@media (min-width: 661px) {
#map-canvas {
        margin: 0 10% 40px 20px;
        padding: 18%;
        height: 100%;
        width: 12%;
        float: left;
      }
}

@media (max-width: 320px) {
#map-canvas {
        margin: 0 40px 40px -5px;
        padding: 96px;
        height: 100%;
        width: 12%;
        float: left;
      }
}


div#contactus > address {
        display: inline;
}
      
.mandatory
{
    font-style: italic;
    font-size: 10px;
}

.red{
    color:red;
}


@media (max-width: 979px) {
  .banner-align
{
    margin-top: -6px;
    margin-left: auto;
    margin-right: auto;
    /*color: #a79d99;*/
}
}

@media (min-width: 980px) {
.banner-align
{
    margin-top: 0px;
    /*color: #a79d99;*/
}
}
body {
   
    font-family: 'Open Sans',sans-serif;
    background-color: #ffffff;
}
a, a:visited {
    color: #1f3ec3;
    transition: all 0.1s linear 0s;
}
a:hover, a:active {
    color: #A43053;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 55px;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}
.dark {
    color: #FFFFFF;
}

.main-container {
    position: relative;
}
.main-container .container {
    padding: 30px;
}
#intro {
    margin-top: 100px;
    min-height: 400px;
    text-align: center;
}
#intro h1 {
    color: #a79d99;
    font-size: 40px;
}
#intro p {
    
    padding: 15px 0;
    margin-right: 4%;
}

#about {
    background: none repeat scroll 0 0 #FFFFFF;
    padding-left: 10px;
}
#productsservices {
    background: none repeat scroll 0 0 rgba(136, 136, 136, 0.6);
    padding-left: 10px;
}

#request{
    background: none repeat scroll 0 0 rgba(136, 136, 136, 0.8);
}

#contact{
        background: none repeat scroll 0 0 rgba(136, 136, 136, 0.9);
        height: 950px;
}
.navbar-fixed-top {
    border-top: 4px solid #1f3ec3;
    margin-bottom: 0;
    position: fixed;
}
.navbar-fixed-top.scroll {
    opacity: 0.96;
}
.navbar-inner {
    background: none repeat scroll 0 0 rgba(136, 136, 136, 0.9);
    border-bottom: 0 none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    filter: none;
    padding: 8px 0 30px;
}
.navbar .brand {
    color: #FFFFFF !important;
    font-family: raleway;
    font-size: 19px;
    font-weight: 300;
    padding: 20px 0 0;
    text-shadow: none;
}
.navbar .nav.pull-right {
    top: 10px;
}
.navbar .nav > li > a {
    color: #F8F8F8;
    font-size: 15px;
    font-weight: 300;
    text-shadow: none;
    transition: all 0.1s linear 0s;
}
.navbar .nav li a:hover, .navbar .nav li a:focus {
    color: #F8F8F8;
}
.navbar .nav > li > a:hover {
    color: #CCCCCC;
}
.navbar .nav > li.active > a, .navbar .nav > li.active:hover > a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    color: #FFFFFF;
    padding-bottom: 4px;
}
.btn-dropnav {
    display: none;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 10px;
}
.btn-dropnav .icon-bar {
    background-color: #F5F5F5;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
}
.btn-dropnav .icon-bar + .icon-bar {
    margin-top: 3px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-color: #8D2040 !important;
    background-image: linear-gradient(#D54872, #8D2040);
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-decoration: none;
}
.navbar .btn-navbar .icon-bar {
    background-color: #5FAF08;
    border-radius: 1px 1px 1px 1px;
    box-shadow: none;
    display: block;
    height: 2px;
    width: 18px;
}
.navbar .btn-navbar {
    margin-right: 30px;
}
.thumbnail {
    border: 0 none;
    box-shadow: none;
    text-align: center;
}
.nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover {
    background: none repeat scroll 0 0 transparent !important;
}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    color: #CCCCCC;
}
.navbar .brand {
    padding: 8px 0 0 40px;
}
body {
    background-size: 250% auto;
    padding-left: 0;
    padding-right: 0;
}
#intro {
    margin-top: 45px;
}
body {
    background-size: 330% auto;
    padding-left: 0;
    padding-right: 0;
}
body {
    background-size: 420% auto;
}
.btn-purple {
    background-color: #8D2040 !important;
    background-image: linear-gradient(#D54872, #8D2040);
    background-repeat: repeat-x;
    border-color: #8D2040 #8D2040 #761A36;
    color: #FFFFFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
}
.btn-xlarge {
    border-radius: 5px 5px 5px 5px;
    font-size: 25px;
    padding: 20px 40px;
}
